{% extends "base.html" %}

{% block content %}
<div class="row" ng-controller="HomepageController">
    <div class="posts">
        <ul>
            <div class="post" ng-repeat="post in posts">
                <heading ng-bind="post.title"></heading>
                <content ng-bind="post.content"></content>
                <button class="btn">like</button>
                 <hr>
            </div>
            <div class="navbar-form">
                <input type="text" ng-model="input_post.title">
                <input type="text" ng-model="input_post.content">
                <button ng-click="createPost(input_post.title, input_post.content)" type="submit" class="btn">Create Post</button>
                <button class="btn">filter</button>
                <button class="btn">order</button>
            </div>
        </ul>
    </div>
    <aside class="subreddits">
    	<div class="navbar-form">
            <input type="text" ng-model="input_sub.title">
            <input type="text" ng-model="input_sub.description">
            <input type="text" ng-model="input_sub.popularity">
            <button ng-click="createSubreddit(input_sub.title, input_sub.description,input_sub.popularity)" type="submit" class="btn">Create Subreddit</button>
        </div>
        <uib-tabset vertical="true" type="pills">
            <uib-tab heading="global" select="refreshPosts('global')"></uib-tab>
            <uib-tab id="redditList" heading="{[{subreddit.title}]}" select="refreshPosts(subreddit.id)" ng-repeat="subreddit in subreddits|orderBy:orderChange()">{[{ subreddit.description }]} <br/> {[{ subreddit.popularity }]} <br/>{[{ subreddit.count }]} <br/></uib-tab>
        </uib-tabset>
        <button id="nameButton" ng-click="orderByName()" class="btn">order by name</button>
        <button id="popularityButton" ng-click="orderByPopularity()" class="btn">order by popularity</button>
    </aside>

</div>

    <div class="row" ng-controller="TranslationController">


      <p style="text-align: center"> 
        
      </p>
      <p style="text-align: center">
        <label>{[{myField}]}</label> <br/>
        <input type="button" name="button" id="chinese" value="中文" ng-click="chineseText()" >
        <input type="button" name="button" id="english" value="English" ng-click="englishText()">
      </p>
    </div>
    

{% endblock content %}